.last {
    padding-bottom: 60px;
  }

.main-page {
  @include r(767) {
    min-height: auto !important;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .h1-title {
    margin-bottom: 33px;
    @include r(1000) {
      text-align: center;
      margin-bottom: 10px;
    }
  }
  &__inner {
    background-image: url("../images/door.png");
    background-position: 80% bottom;
    @include anim;
    background-repeat: no-repeat;
    background-size: auto calc(100% - 151px);
    //position: relative;
    @include r(1200) {
      background-position: 90% calc(100% - 50px);
      background-size: auto calc(100% - 200px) !important;
    }
    @include r(1000) {
      background-position: 25% 140px;
      background-size: auto 60% !important;
      align-items: flex-end;
    }
    //@media (max-height: 450px) and (max-width: 1000px) {
    @include r(767) {
      align-items: center;
      justify-content: center;
      padding-top: 80px;
      background-position: calc(70% + 50px) calc(50% + 30px);
      background-size: 45% auto !important;
    }
  }
  &__right {
    max-width: 559px;
    @include r(1200) {
      max-width: 458px;
    }
    @include r(1000) {
      max-width: 100%;
    }
    //@media (max-height: 450px) and (max-width: 1000px) {
    @include r(767) {
      max-width: 301px;
      margin-right: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__description {
    margin-bottom: 45px;
    @include r(1000) {
      text-align: center;
    }
    @include r(767) {
      margin-bottom: 30px;
    }
    p {
      @include css-lock(18, 24, 1200, 1900);
      line-height: 132%;
      @include r(767) {
        font-size: 12px;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  .btn {
    @include r(1000) {
      width: 100%;
      text-align: center;
      font-size: 24px;
      padding-top: 21px;
      padding-bottom: 21px;
      margin-bottom: 61px;
      display: block;
      line-height: 140%;
    }
    //@media (max-height: 450px) and (max-width: 1000px) {
    @include r(767) {
      font-size: 14px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 37px;
      padding-right: 37px;
      width: auto;
      display: inline-flex;
    }
  }
}

.our-results {
  background-image: url("../images/laptop.png");
  background-size: auto 100%;
  background-position: 93% bottom;
  background-repeat: no-repeat;
  @include anim;
  @include r(1200) {
    background-size: auto 90%;
    background-position: calc(100% + 200px) center;
  }
  @include r(1000) {
    background-position: 75% 0px;
    background-size: auto 80%;
  }
  @include r(767) {
    background: none;
  }
  .inner {
    display: flex;
    @include r(1000) {
      align-items: flex-end;
    }
  }
  &__left {
    max-width: 700px;
    width: 100%;
    @include r(1200) {
      max-width: 363px;
    }
    @include r(1000) {
      margin-bottom: 43px;
      max-width: 100%;
      border-radius: 23px;
      background: $black;
      padding: 25px 51px 50px;
    }
    @include r(767) {
      padding: 40px 44px 37px;
      margin-bottom: 22px;
    }
    @include r(576) {
      padding: 25px 40px;
      margin-bottom: 16px;
    }
  }
  h2,
  .h1-title {
    margin-bottom: 33px;
    @include rmin(1201) {
      @include css-lock(36, 64, 1200, 1920)
    }
    @include r(1000) {
      font-size: 36px;
    }
    @include r(767) {
      font-size: 30px;
    }
    @include r(576) {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  .row {
    display: flex;
    @include gap(column, 21px);
    align-items: center;
    justify-content: flex-start;
    &:not(:last-child) {
      margin-bottom: 60px;
      @include r(1200) {
        margin-bottom: 27px;
      }
      @include r(767) {
        margin-bottom: 8px;
      }
    }
    span {
      @include css-lock(24, 48, 1200, 1920);
      @include font-Roboto-regular;
      line-height: 100%;
      @include r(576) {
        font-size: 18px;
      }
    }
  }
  &__number {
    @include font-Roboto-regular;
    @include css-lock(64, 96, 1200, 1920);
    line-height: 100%;
    @include r(767) {
      font-size: 48px;
    }
    @include r(576) {
      font-size: 36px;
    }
  }
}

.structure {
  padding-top: 20px;
  @include r(767) {
    padding-top: 0px;
  }
  .container {
    height: 100%;
  }
  .row {
    height: 100%;
    align-items: center;
    @include gap(column, 20px);
    @include r(1200) {
      @include gap(column, 80px);
    }
    @include r(1000) {
      flex-direction: column;
      justify-content: space-between;
      padding-top: 50px;
      padding-bottom: 70px;
      flex-wrap: nowrap;
    }
    @include r(767) {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 22px;
    }
  }
  .h2-title {
    margin-bottom: 15px;
  }
  &__left {
    display: flex;
    flex-direction: column;
    max-width: 704px;
    flex: 1;
    @include r(1000) {
      padding: 30px 65px !important;
      flex: 0;
    }
    @include r(767) {
      margin-bottom: 22px;
    }
    @include r(576) {
      padding: 25px 40px !important;
      margin-bottom: 16px;
    }
    .h2-title {
      @include r(1200) {
        font-size: 24px;
      }
      @include r(576) {
        font-size: 18px;
      }
    }
  }
  &__description {
    flex: 1;
    @include r(1000) {
      flex: auto;
      max-height: 230px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 11;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
    @include r(576) {
      max-height: none;
    }
    &_big {
      p {
        @include rmin(1200) {
          @include css-lock(16, 22, 1200, 1920);
          line-height: 166%;
        }
      }
    }
    p {
      line-height: 125%;
      &:not(:last-child) {
        margin-bottom: 20px;
        @include r(1000) {
          margin-bottom: 10px;
        }
      }
    }
  }
  &__row {
    display: flex;
    align-items: center;
    @include gap(column, 6%);
    &:not(:last-child) {
      @include r(1000) {
        margin-bottom: 22px;
      }
      @include r(576) {
        margin-bottom: 15px;
      }
    }
    p {
      line-height: 125%;
    }
    .h3-title {
      margin-bottom: 3px;
      @include r(576) {
        font-size: 18px;
        font-weight: 400;
      }
    }
    &_end {
      flex-direction: row-reverse;
    }
  }
  &__services {
    flex: 1;
    max-width: 825px;
    @include r(576) {
      padding: 25px 40px !important;
    }
    .h2-title {
      margin-left: 90px;
      margin-right: 90px;
      margin-bottom: 30px;
      @include r(576) {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
    @include r(1000) {
      max-width: 100%;
      width: 100%;
      padding-top: 50px 12px 37px;
      flex: 0;
    }
  }
  &__service {
    max-width: 329px;
  }
  &__img {
    width: 234px;
    height: auto;
    @include r(1200) {
      width: 150px;
    }
    @include r(576) {
      display: none;
    }
  }
}

.dark-block {
  padding: 4.1%;
  background: rgba($black, 0.88);
  box-shadow: 0px 0px 100px 3px rgba(163, 163, 163, 0.26);
  border-radius: 23px;
}

.review {
  &__inner {
    justify-content: center;
  }
  &__slider {
    max-width: 1146px;
    padding: 98px 148px 65px;
    @include r(1200) {
      max-width: 794px;
      padding: 68px 90px 20px;
    }
    @include r(1000) {
      max-width: 100%;
      padding: 68px 71px 45px 85px;
    }
    @include r(767) {
      padding: 50px 33px 45px;
    }
    @include r(576) {
      padding: 32px 32px;
    }
  }
  &__head {
    display: flex;
    @include gap(column, 21px);
    padding-bottom: 21px;
    margin-bottom: 9px;
    border-bottom: 1px solid $primary;
    @include r(1000) {
      padding-bottom: 35px;
      margin-bottom: 35px;
      @include gap(column, 12px);
    }
    @include r(767) {
      padding-bottom: 16px;
      margin-bottom: 18px;
    }
    @include r(576) {
      padding-bottom: 14px;
      margin-bottom: 14px;
    }
    img {
      border-radius: 5px;
      @include size(84px);
      object-fit: cover;
      @include r(767) {
        @include size(60px);
      }
    }
  }
  &__pro {
    margin-top: 21px;
    @include r(576) {
      margin-top: 11px;
    }
    .semibold {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
    * {
      &:not(:last-child) {
        margin-bottom: 2px;
        @include r(576) {
          margin-bottom: 8px;
        }
      }
    }
  }
  &__bottom {
    //max-height: 164px;
    height: 100%;
    overflow: hidden;
    p {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

.portfolio {
  background-image: url("../images/portfolio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include r(767) {
    padding-top: 0px;
    padding-bottom: 50px;
  }
}

.carousel {
  position: relative;
  z-index: 1;
  &__wrapper {
    padding: 75px 0px;
    position: static;
  }
  &__item {
    &:not(.swiper-slide-active) {
      cursor: pointer;
    }
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 0px 20px 3px rgba(163, 163, 163, 0.26);
    border-radius: 23px;
    position: relative;
    // animation version 1
    //transition: .6s cubic-bezier(.39,.58,.57,1);
    // animation version 2
    @include rmin(1201) {
      transition: 0.5s cubic-bezier(.19,1,.22,1);
    }
    overflow: visible !important;
    &:after {
      content: '';
      position: absolute;
      background: linear-gradient(0deg, rgba(103, 109, 170, 0.4), rgba(103, 109, 170, 0.4));
      width: 100%;
      height: 100%;
      transition: inherit;
      border-radius: inherit;
      top: 0px;
      left: 0px;
      visibility: visible;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
      position: relative;
      transition: inherit;
    }
    &.swiper-slide-active {
      z-index: 4;
      img,
      &:after {
        transform: scale(1.45);
        transform-origin: center;
        @include r(1000) {
          transform: scale(1);
        }
      }
      &:after {
        opacity: 0;
        visibility: hidden;
      }
    }
    &.swiper-slide-prev {
      z-index: 2;
      img,
      &:after {
        transform: scale(1.174);
        transform-origin: center left;
        @include r(1000) {
          transform: scale(1);
        }
      }
    }
    &.swiper-slide-next {
      z-index: 2;
      img,
      &:after {
        transform: scale(1.174);
        transform-origin: center right;
        @include r(1000) {
          transform: scale(1);
        }
      }
    }
    &.animate {
      img,
      &:after {
        // animation version 1
        //width: calc(100% + 25px);
        //height: calc(100% + 25px);
        // animation version 2
        width: calc(100% + 5px);
        height: calc(100% + 5px);
        @include r(1200) {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.contact {
  background-image: url("../images/phone.png");
  //background-size: 1198px;
  background-size: 64%;
  background-repeat: no-repeat;
  background-position: 2.5% 82%;
  padding: 32px 0px;
  @include r(1200) {
    background-size: 62%;
    background-repeat: no-repeat;
    background-position: 0% center;
  }
  @include r(1000) {
    background: none;
  }
  &__inner {
    justify-content: flex-end;
    @include r(767) {
      max-width: 502px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .form.dark-block {
    box-shadow: none;
  }
  .icon__mouse {
    fill: white;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    opacity: 1;
    @include rmin(1201) {
      animation-name: down;
      animation-duration: 1.2s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      @include anim;
    }
    @include r(767) {
      display: none;
    }
    &.hide {
      opacity: 0;
    }
  }
  .container {
    position: relative;
  }
}

@keyframes down {
  0% {
    transform: translateY(-70%);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-70%);
  }
}

.message {
  padding: 10px 15px;
  position: fixed;
  background: rgba($dark, 0.8);
  border: 1px solid $primary;
  border-radius: 14px;
  display: inline-flex;
  @include gap(column, 20px);
  align-items: center;
  bottom: 20px;
  left: 40px;
  max-width: 850px;
  z-index: 99;
  @include rmin(1201) {
    @include anim;
  }
  @include r(1000) {
    display: none;
  }
  &.hide {
    opacity: 0;
  }
  .icon {
    fill: $primary;
    font-size: 51px;
    flex: auto;
  }
  img {
    width: 120px;
    border-radius: 4px;
  }
  p {
    font-size: 16px;
    flex: auto;
    span {
      margin-top: 5px;
      display: block;
      font-weight: 700;
    }
  }
}

.section-about {
  @include r(767) {
    background-image: url("../images/background-mobile.jpg");
    background-size: cover calc(100% + 5px);
    background-position: center;
    padding-bottom: 82px;
    padding-top: 94px;
  }
  @include r(576) {
    padding-top: 33px;
    padding-bottom: 33px;
  }
  section {
    @include r(767) {
      background-image: none;
      max-width: 502px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }
}