.header {
  &__fixed {
    position: fixed;
  }
  padding-top: 5.2%;
  width: 100%;
  z-index: 1000;
  //&:before {
  //  content: '';
  //  position: absolute;
  //  height: 100%;
  //  top: 0px;
  //  left: 0px;
  //  width: 100%;
  //  z-index: 1;
  //}
  @include anim;
  @include r(1200) {
    padding-top: 80px;
  }
  @include r(767) {
    padding-top: 12px;
    padding-bottom: 12px;
    background: $third;
  }
  .row {
    align-items: flex-start;
    z-index: 2;
    @include r(767) {
      align-items: center;
    }
  }
  .logo {
    cursor: pointer;
    max-width: 250px;
    @include anim;
    @include r(1200) {
      max-width: 150px;
    }
    @include r(767) {
      max-width: 117px;
    }
  }
  &.active {
    padding-top: 1%;
    padding-bottom: 0.5%;
    //padding-bottom: 0.5%;
    &:before {
      background: rgba($dark, 0.8);
    }
    .logo {
      max-width: 200px;
    }
  }
  .menu {
    @include r(767) {
      display: none;
    }
  }
  .dropdown {
    padding-top: 6px;
    @include r(767) {
      display: none;
    }
  }
  .burger {
    width: 18px;
    display: none;
    position: relative;
    height: 12px;
    @include r(767) {
      display: block;
    }
    &:before,
    &:after {
      content: '';
    }
    &:before,
    &:after,
    span {
      position: absolute;
      @include anim;
      width: 100%;
      height: 2px;
      background: $white;
      border-radius: 2px;
      z-index: 2;
    }
    &:before {
      top: 0px
    }
    &:after {
      bottom: 0px;
    }
    span {
      top: 50%;
      transform: translateY(-50%);
    }
    &.active {
      &:before {
        transform: rotate(45deg);
        top: 5px;
      }
      &:after {
        transform: rotate(-45deg);
        bottom: 5px;
      }
      span {
        width: 0px;
      }
    }
  }
  &__mobile {
    display: none;
    position: absolute;
    background: $third;
    min-height: 100vh;
    top: 0px;
    right: 0px;
    min-width: 304px;
    padding: 62px 18px 41px;
    @include anim;
    transform: translateX(100%);
    .menu {
      display: block;
      margin-bottom: 50px;
    }
    @include r(767) {
      display: block;
    }
    &.open {
      transform: translateX(0);
    }
  }
  &__lang {
    display: flex;
    justify-content: flex-end;
    @include gap(column, 20px);
  }
}

.menu {
  &__list {
    display: flex;
    @include gap(column, 90px);
    @include r(1200) {
      @include gap(column, 20px);
    }
    @include r(1000) {
      @include gap(column, 10px);
    }
    @include r(767) {
      flex-direction: column;
      @include gap(row, 15px);
    }
  }
  &__item {
    position: relative;
    @include r(767) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &.active {
      & > .menu__link {
        color: $primary;
        cursor: auto;
        &:after {
          width: 100%;
        }
      }
    }
   @include hover(0.3s, all) {
      & > .menu__sub {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__link {
    position: relative;
    padding: 6px 13px;
    color: $white;
    font-weight: bold;
    transition: inherit;
    display: inline-block;
    @include r(1200) {
      font-size: 14px;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 3px;
      left: 0px;
      width: 0px;
      height: 1px;
      background: $primary;
      transition: inherit;
    }
    @include hover(0.3s, all) {
      color: $primary;
      &:after {
        width: 100%;
      }
    }
  }
  &__sub {
    position: absolute;
    bottom: 0px;
    transform: translate(-50%, 100%);
    min-width: 130px;
    left: 50%;
    text-align: center;
    background: rgba($black, 0.8);
    border-radius: 5px;
    padding: 4px 10px 8px;
    opacity: 0;
    visibility: hidden;
    @include anim;
    @include r(767) {
      border-top: 1px solid $white;
      border-radius: 0px;
      position: static;
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
      background: rgba(255, 255, 255, 0);
      padding-left: 0px;
      padding-right: 5px;
      margin-top: 5px;
      .menu__item {
        @include r(767) {
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
      .menu__link {
        font-size: 14px;
      }
    }
  }
}

.dropdown {
  min-width: 70px;
  position: relative;
  &__inner {
    position: absolute;
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      @include rmin(1201) {
        transition: 0.2s;
      }
    }
    &.active {
      &:before {
        box-shadow: 0px 0px 50px 3px rgba(163, 163, 163, 0.3);
        @include rmin(1201) {
          transition: 0.6s;
        }
      }
      .dropdown {
        &__parent {
          background: $black;
          .icon {
            transform: scale(1, -1);
          }
        }
        &__list {
          background: $black;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  &__item {
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    line-height: 100%;
    padding: 3px 9px 3px 13px;
    color: $white;
    a {
      color: inherit;
    }
  }
  &__parent {
    border-radius: 5px;
    border: 1px solid $white;
    display: flex;
    padding: 2px 8px 2px 12px;
    @include gap(column, 8px);
    align-items: center;
    position: relative;
    z-index: 2;
    cursor: pointer;
    @include rmin(1201) {
      @include anim;
    }
    .icon {
      font-size: 13px;
      @include size(9px, 6px);
      fill: $primary;
      @include anim;
    }
  }
  &__list {
    padding-top: 4px;
    padding-bottom: 7px;
    opacity: 0;
    border-radius: 0px 0px 5px 5px;
    visibility: hidden;
    z-index: 2;
    position: relative;
    @include rmin(1201) {
      @include anim;
    }
  }
}