.error-404 {
  &__left {
    max-width: 684px;
    @include r(1200) {
      max-width: 363px;
    }
    @include r(1000) {
      max-width: 100%;
    }
    //@include r(767) {
    //  max-width: 301px;
    //  margin-right: 40%;
    //  display: flex;
    //  flex-direction: column;
    //  align-items: center;
    //}
    .h1-title {
      margin-bottom: 25px;
      @include r(1000) {
        text-align: center;
      }
      @include r(576) {
        margin-bottom: 16px;
      }
    }
  }
  &__text {
    margin-bottom: 40px;
    p {
      font-size: 24px;
      line-height: 100.69%;
      @include r(767) {
        font-size: 14px;
      }
    }
    @include r(1000) {
      text-align: center;
    }
    @include r(767) {
      margin-bottom: 30px;
    }
    @include r(576) {
      margin-bottom: 16px;
    }
  }
  &__inner {
    position: relative;
    background-image: url("../images/404.png");
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    @include r(1200) {
      background-size: auto 76%;
    }
    @include r(1000) {
      align-items: flex-end;
      background-size: 100% auto;
      background-position: 100% 50px;
    }
    //@include r(767) {
    //  align-items: center;
    //  justify-content: center;
    //  background-position: calc(70% + 80px) center;
    //  background-size: 40% auto;
    //}
    @include r(576) {
      background-position: 100% 30%;
    }
  }
  .btn {
    @include r(1000) {
      width: 100%;
      text-align: center;
      padding-top: 31px;
      padding-bottom: 31px;
    }
    //@include r(767) {
    //  font-size: 14px;
    //  padding-top: 10px;
    //  padding-bottom: 10px;
    //  padding-left: 37px;
    //  padding-right: 37px;
    //  width: auto;
    //  display: inline-flex;
    //}
    @include r(767) {
      margin-bottom: 70px;
    }
    @include r(576) {
      padding-top: 13px;
      padding-bottom: 13px;
      font-size: 14px;
      margin-bottom: 47px;
    }
  }
}