.form,
.form.dark-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  //max-width: 685px;
  max-width: 41%;
  padding: 2.8% calc(8% - 7px) 2.8% 8%;
  max-height: 100%;
  @include r(1200) {
    max-width: 417px;
    padding: 18px 59px 37px 67px;
  }
  @include r(1000) {
    max-width: 100%;
  }
  .h2-title {
    margin-bottom: 25px;
    @include r(1200) {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  &__sub-title {
    @include r(1200) {
      font-size: 14px;
    }
    &:not(:last-child) {
      //margin-bottom: 32px;
      margin-bottom: 7.7%;
    }
  }
  &__center {
    width: 100%;
    position: relative;
    flex: 1;
    //overflow: auto;
    padding-right: 7px;
    &:not(:last-child) {
      //margin-bottom: 32px;
      margin-bottom: 8.9%;
    }
    .swiper-scrollbar {
      right: 0px;
      background: $white;
      width: 5px;
      .swiper-scrollbar-drag {
        background: $primary;
      }
    }
  }
  &__input {
    width: 100%;
    position: relative;
    input {
      width: 100%;
    }
    &:not(:last-child) {
      //margin-bottom: 52px;
      margin-bottom: 12.5%;
      @include r(1200) {
        margin-bottom: 40px;
      }
    }
    .error {
      position: absolute;
      top: 0px;
      text-align: center;
      transform: translateY(calc(-100%));
      line-height: 120%;
      color: $white;
      @include css-lock(12, 22, 1200, 1920);
      font-weight: 700;
      width: 100%;
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  &__text {
    min-height: 106px;
    position: relative;
    width: 100%;
    &:not(:last-child) {
      //margin-bottom: 32px;
      margin-bottom: 8.9%;
    }
    textarea {
      min-height: 100%;
      width: 100%;
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translateX(-50%);
      resize: vertical;
    }
  }
  .btn {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 2.9%;
    }
    @include r(1200) {
      margin-bottom: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 18px;
    }
    @include r(1000) {
      padding-top: 18px;
      padding-bottom: 18px;
      font-size: 20px;
    }
  }
  &__attention {
    font-size: 12px;
    max-width: 275px;
    text-align: center;
    a {
      position: relative;
      color: $primary;
      &:after {
        content: '';
        height: 1px;
        position: absolute;
        display: block;
        bottom: 0px;
        width: 0px;
        left: 0px;
        background: $primary;
        transition: inherit;
      }
      @include hover(0.3s, all) {
        &:after {
          width: 100%;
        }
      }
    }
  }
}